body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  overflow-y: scroll;
  /* position: relative;
  display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* display: flex;
  justify-content: center; */
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(3px);
  background:rgba(0, 0, 0, 0.5);
}

button:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-modal {
  height: 7.8vh;
  width: 5%;
  border-radius: 50%;
  border: none;
  font-size: x-large;
}

.button-modal:hover {
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 70%;
  height: 60%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 0.4rem;
  /* padding: 1.3rem; */
  overflow-y: scroll;
  min-height: 250px;
  position: absolute;
  left: 15%;
  top: 15%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modal .flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}